# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment files
.env
.env.local
.env.*.local

# OS
.DS_Store

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
assets/tmobile/T-Mo Portfolio - Assets/Device Upgrade User Journey/Add-a-line-Upgrade-Retail Customer-Journeys-2.pdf
assets/tmobile/T-Mo-Portfolio.pdf
